[access]
	inheritFrom = All-Projects
[submit]
	action = rebase always
[project]
	description = KNoT Cloud Docker stack
[access "refs/*"]
	owner = group user/Claudio Takahasi (cktakahasi)
	owner = group user/Paulo Serra Filho (pauloserrafh)
	owner = group user/Rodrigo Perazzo (rodrigoperazzo)
	owner = group user/Thiago Cardoso (figueredo)
	owner = group user/Tiago Barros (tgfb)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Paulo Serra Filho (pauloserrafh)
	label-Verified = -1..+1 group user/Paulo Serra Filho (pauloserrafh)
	push = group user/Paulo Serra Filho (pauloserrafh)
	read = group user/Paulo Serra Filho (pauloserrafh)
	rebase = group user/Paulo Serra Filho (pauloserrafh)
	removeReviewer = group user/Paulo Serra Filho (pauloserrafh)
	submit = group user/Paulo Serra Filho (pauloserrafh)
[access "refs/heads/*"]
	create = group user/Paulo Serra Filho (pauloserrafh)
	push = +force group user/Paulo Serra Filho (pauloserrafh)
	pushMerge = group user/Paulo Serra Filho (pauloserrafh)
	read = group user/Paulo Serra Filho (pauloserrafh)
	label-Verified = -1..+1 group user/João Neto (joaoaneto)
	label-Verified = -1..+1 group user/Ramon Henrique (ramonhpr)
[access "refs/tags/*"]
	push = group user/Paulo Serra Filho (pauloserrafh)
	push = +force group user/Paulo Serra Filho (pauloserrafh)
