[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = KNoT Cloud Docker stack
[access "refs/*"]
	owner = group user/Paulo Serra Filho (pauloserrafh)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Paulo Serra Filho (pauloserrafh)
	label-Verified = -1..+1 group user/Paulo Serra Filho (pauloserrafh)
	push = group user/Paulo Serra Filho (pauloserrafh)
	read = group user/Paulo Serra Filho (pauloserrafh)
	rebase = group user/Paulo Serra Filho (pauloserrafh)
	removeReviewer = group user/Paulo Serra Filho (pauloserrafh)
	submit = group user/Paulo Serra Filho (pauloserrafh)
[access "refs/heads/*"]
	create = group user/Paulo Serra Filho (pauloserrafh)
	push = +force group user/Paulo Serra Filho (pauloserrafh)
	pushMerge = group user/Paulo Serra Filho (pauloserrafh)
	read = group user/Paulo Serra Filho (pauloserrafh)
[access "refs/tags/*"]
	push = group user/Paulo Serra Filho (pauloserrafh)
	push = +force group user/Paulo Serra Filho (pauloserrafh)
